<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.CountryPostalCodeDao">

    <resultMap id="baseResultMap" type="com.example.demo.entity.CountryPostalCode">
        <id column="ZIP" property="zip"/>
        <result column="CITY" property="city" />
        <result column="STATE" property="state" />
        <result column="COUNTY" property="county" />
        <result column="TIMEZONE" property="timezone" />
        <result column="COUNTRY" property="country" />
        <result column="ACCEPTABLE_CITIES" property="acceptableCities" />
        <result column="TYPE" property="type" />
        <result column="LATITUDE" property="latitude" />
        <result column="LONGITUDE" property="longitude" />
    </resultMap>

    <select id="selectAll" resultMap="baseResultMap">
        select * from COUNTRYPOSTALCODE
    </select>


</mapper>